// =============================================================================
// _colors.scss : Colors for Project
// MIT License
// =============================================================================

// =============================================================================
// _colors.scss settings
// =============================================================================

$primary-color: rgb(19, 12, 14);
$secondary-color: rgb(221, 220, 229);
$transparent: rgba(19, 12, 14, 0.507);
$blue: rgb(104, 143, 185);
$red: rgb(182, 69, 25);
$crawl: rgb(229, 177, 58);
$background: rgb(25, 24, 29);
