@import "../../../../../styles/utilities/colors";
@import "../../../../../styles/base/typo";
@import "../../../../../styles/utilities/responsive";

.movie-container {
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  h5 {
    color: $blue;
    text-transform: uppercase;
  }
  &__card {
    border: solid 2px $blue;
    border-radius: 10px;
    margin: 20px;
    background-color: $background;
    @include desktop {
      width: 50%;
    }
    h2 {
      color: $crawl;
    }
    img {
      width: 85%;
      border-radius: 10px;
      border: solid 2px $blue;
      @include desktop {
        width: 50%;
      }
    }
    p {
      padding: 8px;
      margin: 8px;
      color: $crawl;
    }
    span {
      color: $secondary-color;
    }

    li {
      padding: 8px;
      margin: 8px;
      color: $crawl;
    }
  }
  .movie-crawl {
    padding: 40px;
    text-align: justify;
    font-style: italic;
    font-size: 12px;

    @include desktop{
        padding: 60px;
        font-size: 16px;
        margin-left: 30px;
        margin-right: 30px;
    }
  }
}
