@import "../../../../styles/utilities/colors";
@import "../../../../styles/base/typo";

footer{
    width: 100%;
    bottom: 0;
    height: 40px;
    margin-top: 20px;
    
    .footer-container{
        word-wrap: break-word;
        text-align: justify;
        display:flex;
        flex-wrap: wrap;
        justify-content: space-around;

        &__creator{
            color: $crawl;
        }
        &__copyright{
            color: $secondary-color;
        }
    }
}